/* ====================================
// css variables
// ==================================== */

:root {
  --dark-blue: #264653;
  --green: #2a9d8f;
  --white: #ffefef;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background: white;
  font-size: 1rem;
  line-height: 1.5rem;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

.section {
  display: flex;
  background: var(--green);
  margin: 15px;
}

.box {
  background: var(--dark-blue);
  color: var(--white);
  padding: 20px;
  margin: 10px;
}

.section-1 {
  flex-direction: row;
  justify-content: flex-start;
}

.section-2 {
  flex-direction: row;
  justify-content: flex-end;
}

.section-3 {
  flex-direction: column;
  justify-content: flex-end;
}

.section-4 {
  flex-direction: row;
  justify-content: space-between;
}

.section-5 {
  flex-direction: column;
  align-items: center;
}

/* ====================================
// base rules
// ==================================== */
